@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.pageSignUp {
  height: max-content;
}
.columnLeft {
  background-color: rgba(43, 21, 107, 0.8);
  padding: 0;
  height: 800px;
}

.background {
  position: absolute;
  width: auto;
  height: 800px;
  opacity: 20%;
  right: 0px;
}

.logoResponsive {
  display: none;
}
.tickitz {
  position: relative;
  width: 30%;
  margin-top: 10%;
  margin-bottom: 50px;
  margin-left: 120px;
  margin-right: auto;
}

.titleWait {
  width: 70%;
  position: relative;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: white;
}
.textLoyal {
  position: relative;
  width: 70%;
  font-size: 25px;
  font-family: "Mulish", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
.columnRound {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 107px;
}
.rowRound {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Mulish", sans-serif;
}

.textRound {
  font-family: "Mulish", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 20px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}

.rounded1:hover,
.rounded1:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
  color: black;
  border-color: white;
}
.rounded2:hover,
.rounded2:focus,
.rounded3:hover,
.rounded3:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent;
  border-color: white;
  color: white;
}
.roundedLine:hover,
.roundedLine:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: white;
  border-color: white;
}
.rounded1 {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  color: black;
  background-color: white;
  border-color: white;
}

.rounded2 {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
  border-color: white;
}

.rounded3 {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  padding: 0;
  margin: 0;
  color: white;
  background-color: transparent;
  border-color: white;
}

.rowRoundLine {
  width: 65%;
}
.roundedLine {
  margin-right: 10px;
  width: 2px;
  height: 50px;
  background-color: white;
}

.columnRight {
  padding-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: auto;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.right {
  padding-bottom: 20px;
}

.form {
  padding-bottom: 20px;
}

.titleFill {
  font-family: "Inter", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0.003em;
  text-align: left;
}

.email,
.password {
  font-size: 15px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.placeholder {
  font-family: "Mulish", sans-serif;
  height: 45px;
  border-radius: 3px;
  font-size: 13px;
}

.placeholder:focus,
.placeholder:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #5f2eea;
}
.buttonJoin {
  margin-top: 20px;
  font-family: "Mulish", sans-serif;
  height: 45px;
  border-radius: 3px;
  width: 100%;
  background-color: #5f2eea;
  border-color: #5f2eea;
}

.haveAccount {
  text-align: center;
  color: #a0a3bd;
}

.logIn {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
}

.linkLogIn {
  color: #5f2eea;
  margin-left: 10px;
}

.linkLogIn:hover {
  color: #5f2eea;
}

.or {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  color: #aaaaaa;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.line {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  border-radius: 5px;
  background-color: #e5e5e5;
}

.toggleButtonGroup {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.contentButton {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.titleButton {
  background-color: white;
  border-color: white;
  border-radius: 5px;
  color: #a0a3bd;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 991.98px) {
  .logoResponsive {
    display: block;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .columnLeft {
    display: none;
  }
}
