@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.cardImage {
  width: 100%;
  height: 250px;
  object-fit: fill;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
}

.cardBody {
  padding: 10px;
  align-items: center;
  width: 170px;
  height: 450px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  display: block;
  text-align: center;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text {
  color: #969abb;
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.detail {
  width: 100px;
  background-color: white !important;
  color: #5f2eea !important;
  border-color: #5f2eea !important;
}
Button.detail:hover {
  background-color: #5f2eea !important;
  color: white !important;
  border-color: #5f2eea !important;
}
@media (max-width: 991.98px) {
  .cardBody {
    padding-top: 10px;
    align-items: center;
    width: 100%;
  }
  .title {
    font-size: 13px;
  }
}
