@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/* ===================Payment Page======================== */
.paymentPage {
  background-color: #e5e5e5;
  font-family: "Mulish", sans-serif;
  padding-top: 90px;
  padding-bottom: 100px;
}

.titlePaymentInfo h1,
.methodPayment h1,
.infoOrder h1 {
  margin-top: 56px;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
  color: #14142b;
}

.paymentInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 413px;
  border-radius: 6px;
  background-color: #ffffff;
  padding-right: 40px;
  padding-left: 40px;
}

.paymentInfo h5 {
  font-size: 20px;
  color: #6b6b6b;
  font-weight: 400;
}

.paymentInfo h6 {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}

.paymentInfo span {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.content2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boxPayment {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  height: 368px;
  border-radius: 6px;
}
.rowLogo1 {
  margin-top: 20px;
}
.rowLogo1 button {
  height: 56px;
  width: 146px;
  border-color: #dedede;
  border-radius: 8px;
  background-color: #ffffff;
}

.lineOr {
  align-items: baseline;
}
.lineOr span {
  height: 1px;
  width: 280px;
  background-color: #dedede;
}

.lineOr h6,
.cashChoosed h1 {
  font-size: 16px;
  font-weight: 600, lighter;
  color: #a0a3bd;
}

.cashChoosed h6 {
  margin-left: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #5f2eea;
}

.content3 {
  margin-top: 40px;
  margin-bottom: 72px;
}

.button:hover,
.button:active,
.button:focus {
  border: 2px solid #5f2eea;
  box-shadow: none !important;
  outline: none !important;
}

.checkout .btnChange1,
.checkout button.btnCheckout:hover {
  background-color: #e5e5e5;
  color: #5f2eea;
  font-size: 16px;
  border-color: #5f2eea;
  height: 56px;
  width: 300px;
  border-radius: 4px;
}

.checkout .btnCheckout,
.checkout button.btnChange1:hover {
  height: 56px;
  width: 300px;
  border-radius: 4px;
  color: #f7f7fc;
  background-color: #5f2eea;
  font-size: 16px;
}

/* Akhir content 3  dan payment combine========= */

/* content4==== */

.personalInfoContent2 {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 40px;
  display: flex;
}

form .desc,
form .input-group {
  border-radius: 4px;
}

.warning {
  height: 50px;
  border-radius: 4px;
  background-color: rgb(244, 183, 64, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.warning h6 {
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #4e4b66;
  padding-left: 20px;
}
/* Akhir content 2 ========*/
/* *responsive website */
@media (max-width: 575.98px) {
  .checkout {
    margin-bottom: 20px;
    justify-content: space-around;
  }
  .checkout .btnChange1,
  .checkout .btnCheckout {
    margin: 20px;
  }

  .container .rowLogo1 button {
    height: 56px;
    width: max-content;
    border-color: #ffffff;
    border-radius: 8px;
    background-color: #ffffff;
  }
}
/* Akhir paymentpage============ */
