@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/*====================Order Page=========*/
.orderPage {
  background-color: #e5e5e5;
  font-family: "Mulish", sans-serif;
  padding: 0;
}
.sectionAsideCombine {
  margin-top: 90px;
}
/*? Kolom kiri=================**/
.colLeft {
  padding-top: 10px;
  padding-bottom: 3em;
}

/* *===================================isi left Content1 Golbal=================== */
.titleContentLeft1 {
  font-size: 24px;
  font-weight: 600;
  color: black;
}
.contentLeft1 {
  background-color: #e5e5e5;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1px;
}
/**==================================Akhir left Content1 Global ======================== */
/*!==================================isi left content1 per baris========================== */
/* =========Content1 */
.rowContent1Left1 {
  display: flex;
  align-items: flex-end;
  height: 75px;
}

/*============Content2*/
.rowContent2Left1 {
  padding: 0;
  background-color: white;
  border-radius: 10px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonChange {
  color: #5f2eea;
  font-weight: 700, lighter;
  background-color: #eff0f6;
  border-radius: 5px;
  border-color: #eff0f6;
}

/* ==========Content3 */
.rowContent3Left1 {
  display: flex;
  align-items: flex-end;
  height: 75px;
}
/* !Akhir left konten per baris==================================*/

/** ==================== Isi Left Content2======================== */
.contentLeft2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  height: max-content;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.boxContentLeft2 {
  background-color: white;
  border-radius: 15px;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 7em;
  padding-right: 5em;
}
.titleContent1Left2 {
  text-align: center;
  font-size: 14px;
  color: #4e4b66;
  font-weight: 600;
}
.rowContent1Left2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2px;
  height: 100px;
}
.rowContent2Left2 {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titleContent2Left2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: max-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  color: #4e4b66;
  font-weight: 600;
}
.setAngkaSeat {
  width: 69% !important;
  font-size: 14px;
  color: #4e4b66;
  font-weight: 600;
  margin-left: 14.5%;
  background-color: yellowgreen;
}
.seat {
  padding: 0px;
  width: 10px !important;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}
/* ========================== */
.content2 {
  /* background-color: #e5e5e5; */
  background-color: white;
}

.content2 .row {
  justify-content: space-around;
  /* height: 661px; */
  height: 400px;
  border-radius: 6px;
}

.content2.d-grid {
  border-radius: 6px;
  background-color: white;
}

.content2 h1 {
  text-align: center;
  font-size: 14px;
  color: #4e4b66;
  font-weight: 600;
  margin-top: 20%;
}

.content2 span {
  height: 2px;
  width: 532px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #eee8e8;
}

.content2 h2 {
  text-align: left;
  font-size: 18px;
  color: black;
  height: 20px;
  font-weight: 600;
}

.key {
  height: 50px;
}
.title {
  justify-content: center;
}

.buttonKey {
  margin-top: 20px;
  justify-content: space-evenly;
}

.buttonKey h6 {
  font-size: 14px;
  color: #4e4b66;
}

.availableKey {
  height: 26px;
  width: 26px;
  border-radius: 4px;
  background-color: #d6d8e7;
  border-color: #d6d8e7;
}

.sold {
  height: 26px;
  width: 26px;
  border-radius: 4px;
  background-color: #6e7191 !important;
  border-color: #6e7191;
}

.selectedKey {
  height: 26px;
  width: 26px;
  border-radius: 4px;
  background-color: #5f2eea !important;
  border-color: #5f2eea;
}
.selected {
  height: 26px;
  border-radius: 4px;
  background-color: white;
  border-color: white;
}
.loveNest {
  height: 26px;
  width: 26px;
  border-radius: 4px;
  background-color: #f589d7 !important;
  border-color: #f589d7;
}

/* Akhir Content2============ */
/* ==========Content3======= */
.content3 {
  margin-top: 5%;
  margin-bottom: 2em;
}

.checkout {
  justify-content: space-between;
  border-radius: 6px;
  margin: auto;
  border-radius: 15px;
}

.btnCheckout:hover {
  color: #5f2eea;
  font-size: 16px;
  border-color: #d8cdf8;
  height: 56px;
  width: 300px;
  border-radius: 4px;
}

.btnChange1 {
  background-color: #e5e5e5;
  color: #5f2eea;
  font-size: 16px;
  border-color: #5f2eea;
  height: 56px;
  width: 300px;
  border-radius: 4px;
}

.buttonChange:hover,
.buttonChange:active,
.buttonChange:focus {
  color: #5f2eea;
}

.btnCheckout {
  height: 56px;
  width: 300px;
  border-radius: 4px;
  color: #f7f7fc !important;
  background-color: #5f2eea;
  font-size: 16px;
  border-color: #5f2eea;
}

/* Link {
  text-decoration: none;
  color: #f7f7fc !important;
  font-size: 16px;
} */
/* *akhir content3=========== */
/* *Content4============ */

.content4 {
  font-family: "Mulish", sans-serif;
}

.cont41 {
  margin-top: 43px;
}

.infoOrder {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  color: #14142b;
}

.payment {
  background-color: #ffffff;
  height: 413px;
  border-radius: 6px;
  align-items: center;
  margin-bottom: 2em;
  justify-content: center;
}

.nameTheater {
  object-fit: contain;
  width: auto;
  height: auto;
}
.boxTheater {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  padding: 1em;
}
.nameMovie,
.dateMovie,
.priceTicket,
.seatChoosed,
.totalPayment {
  width: 100%;
  justify-content: space-between;
}
.textTheater {
  margin-top: 1em;
  font-size: 24px;
  font-weight: bold;
}
.nameTheater h1 {
  font-size: 24px;
  font-weight: 600;
  color: #14142b;
}

.content4 h5 {
  font-size: 14px;
  font-weight: 400;
  color: #6b6b6b;
  padding-left: 25px;
}

.content4 h6 {
  font-size: 14px;
  font-weight: bold;
  color: #14142b;
  padding-right: 25px;
}

.content4 span {
  height: 1px;
  background-color: #e6e6e6;
}

.totalPayment h1 {
  font-size: 18px;
  font-weight: 600;
  color: #14142b;
  padding-left: 25px;
}

.totalPayment h6 {
  font-size: 24px;
  font-weight: 700;
  color: #5f2eea;
  padding-right: 25px;
}
/* Akhir Content3===================== */
.line {
  height: 0.2em;
  width: 100%;
  background-color: #5f2eea;
}

.boxSeatingKey {
  margin-top: 1em;
  width: 100%;
}
.rowBoxSeat {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.boxSeat {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.boxSeat h6 {
  margin-bottom: 0;
}
.seatAvailable {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background-color: #d6d8e7;
  margin-right: 10px;
  margin-left: 10px;
}

.seatSelected {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background-color: #5f2eea;
  margin-right: 10px;
  margin-left: 10px;
}

.seatSold {
  width: 25px;
  height: 25px;
  border-radius: 25%;
  background-color: #6e7191;
  margin-right: 10px;
  margin-left: 10px;
}

/* Responsive =========== */
@media (max-width: 575.98px) {
  .orderPage .content2 table {
    display: none;
  }

  .seatAvailable,
  .seatSelected,
  .seatSold {
    width: 15px;
    height: 15px;
  }

  .rowBoxSeat h6 {
    font-size: 12px;
  }

  .boxSeatingKey h5 {
    font-size: 15px;
    width: 100%;
    text-align: left;
  }
  .boxContentLeft2 {
    padding: 1em 3% 1em 10%;
  }

  .checkout {
    padding: 1em;
  }

  .btnChange1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .btnCheckout {
    width: 100%;
  }

  .btnChange1:hover,
  .btnChange1:focus,
  .btnChange1:active,
  .btnCheckout:hover,
  .btnCheckout:focus,
  .btnCheckout:active {
    background-color: #4312c9 !important;
    width: 100% !important;
  }
  .boxTheater {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    padding: 1em;
  }
  .nameTheater {
    object-fit: contain;
    width: auto;
    height: auto;
  }

  .textTheater {
    margin-top: 1em;
    font-size: 24px;
    font-weight: bold;
  }

  .payment {
    padding: 2em;
    justify-content: center;
    align-items: center;
  }

  .nameMovie,
  .dateMovie,
  .priceTicket,
  .seatChoosed,
  .totalPayment {
    width: 100%;
    justify-content: space-between;
  }
}
/* Akhir order page=================== */
