@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

/* ================Content1===================*/

.containerCenter {
  margin-top: 8em;
  font-family: "Mulish", sans-serif;
}

/* Content2 */
.content2 {
  font-family: "Mulish", sans-serif;
  justify-content: center;
  background-color: #eaebee;
}

.dateficker {
  padding-top: -20px;
  justify-content: center !important;
  margin: auto;
  width: 100%;
}

.notFound {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f2eea;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.datePlace {
  width: 100%;
  margin-top: 20px;
}

.datePlace h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.boxShowTimeTicket {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.rowDateficker {
  margin-bottom: 20px;
  width: 100%;
}

.placeholder {
  background-color: transparent;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  color: #4e4b66;
  border: 2px solid #dedede;
}
.row {
  justify-content: space-between;
  margin-bottom: 50px;
}

.row2 {
  margin-top: 20px;
  justify-content: space-evenly;
}

.line {
  margin-top: 10px;
  width: 500px;
  height: 1px;
  background-color: #dedede;
}

.content21 a {
  font-size: 15px;
  color: #5f2eea;
  font-weight: 600, lighter;
  text-decoration: none;

  margin-bottom: 20px;
}

.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a {
  background-color: #5f2eea;
  border-color: #5f2eea;
  color: #fff;
}
.pagination > li > a {
  border: 1px solid #5f2eea;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  background-color: white;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5f2eea;
  border-color: #5f2eea;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #5f2eea;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: unset;
}

.form {
  width: 25%;
  margin-left: 20px;
}
.formLeft {
  width: 25%;
}

.dropdownSelectMovie {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  height: 45px;
  border-radius: 3px;
  font-size: 14px;
  color: #4e4b66;
  border: 2px solid #dedede;
}

.dropdownSelectMovie:hover,
.dropdownSelectMovie:active,
.dropdownSelectMovie:focus,
.placeholder:hover,
.placeholder:active,
.placeholder:focus {
  border: 2px solid #5f2eea;
  background-color: transparent;
  font-size: 14px;
  color: #4e4b66;
  box-shadow: none !important;
  outline: none !important;
}

.menuListMovie {
  width: 100%;
  padding: 1em;
}

.listMovie {
  font-size: 14px;
  color: #4e4b66;
  font-weight: 500;
}

.listMovie:hover {
  background-color: #5f2eea;
  color: white;
  border-radius: 3px;
}

/**responsive */
@media (max-width: 575.98px) {
  .line {
    margin-top: 10px;
    width: 145px;
    height: 1px;
    background-color: #dedede;
  }

  .content21 a {
    font-size: 13px;
    color: #5f2eea;
    font-weight: 600, lighter;
    text-decoration: none;

    margin-bottom: 20px;
  }
  .datePlace h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
  }
  .row2 {
    justify-content: space-between;
  }

  .rowDateficker {
    margin-bottom: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
  }

  .rowDateficker input {
    width: 200px;
    margin-top: 10px;
    background-color: white !important;
  }
}
/* Akhir Content2==================== */
