@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
.profilePage {
  margin-top: 90px;
  font-family: "Mulish", sans-serif;
  background-color: #eaebee;
}

.notFound {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #5f2eea;
  font-weight: 600;
  font-size: 18px;
}
.acceptedFile {
  color: #5f2eea;
  font-weight: 600;
}

.rejectedFile {
  color: #c20f0f;
  font-weight: 600;
}
.boxDetailsInformation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 2em;
}

.iconEdit {
  cursor: pointer;
}

.formImage p {
  cursor: pointer;
  padding: 0.5em;
  color: white;
  border-radius: 8px;
  width: max-content;
  background-color: #414141;
}

.createDataToast {
  display: flex;
  width: 100%;
  height: max-content;
  right: 0;
  bottom: 0;
  z-index: 200;
  position: fixed;
  background-color: #5f2eea;
  color: white;
  font-size: 16px;
}

.boxClose {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.iconClose {
  cursor: pointer;
}

.createDataToastError {
  display: flex;
  width: 100%;
  height: max-content;
  right: 0;
  bottom: 0;
  z-index: 200;
  position: fixed;
  background-color: #ffd904;
  color: red;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}

.bodyToast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createUpdateToast {
  width: 100%;
  margin-right: 17%;
  position: absolute;
  background-color: #5f2eea;
  color: white;
  font-size: 16px;
  border: 2px solid #5f2eea;
}

.containerCard {
  padding-left: 0;
}
.containerForm {
  padding-right: 0;
}

.colForm {
  background-color: white;
  border-radius: 5px;
}
.contentForm {
  height: max-content;
  padding-top: 40px;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.rowTitle {
  height: 70px;
  background-color: #eaebee;
  align-items: flex-end;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-bottom: 20px;
}

.rowFormMovieImage {
  border: 1px solid whitesmoke;
  height: max-content;
  padding-top: 15px;
  height: 280px;
  width: 210px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
}

.titleFormLabelMovie {
  font-size: 15px;
  font-weight: 600;
}
.placeholder {
  height: 45px;
  border-radius: 3px;
  font-size: 13px;
}

.codeRegion {
  height: 45px;
  border-radius: 3px;
  font-size: 15px;
}

.placeholder:focus,
.placeholder:active,
.placeholder option:focus,
.placeholder option:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #5f2eea;
}

.DetailsInformation {
  margin-top: 20px;
  padding-top: 30px;
  justify-content: start;
}

.titleDetailsInformation {
  margin-left: 40px;
  text-align: left;
  font-size: 17px;
  font-weight: 600;
}

.line {
  background-color: #dedede;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
}
.rowButton {
  margin-top: 20px;
  justify-content: flex-start;
  padding-bottom: 40px;
}

.rowHeaderCard {
  border-radius: 5px;
  margin-top: 50px;
  justify-content: space-between;
  /* padding-bottom: 20px; */
  align-items: center;
  background-color: white;
}

.rowHeaderInfoCard {
  width: 100%;
  margin-left: 0;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.rowHeaderInfoCard2 {
  width: 100%;
  align-items: center;
}

.imageProfile {
  margin-bottom: 8%;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  margin-left: 20%;
  margin-right: auto;
  background-color: #eaebee;
}

.userFullName {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  font-weight: 600;
  justify-content: center;
}

.userStatus {
  margin-top: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 400;
  color: #9e9e9e;
  justify-content: center;
}
.rowHeader {
  border-radius: 5px;
  margin-top: 50px;
  height: 70px;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.infoCard {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  color: black;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
}

.linkProfile,
.order {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 40px;
  text-decoration: none;
  color: #bdbdbd;
  height: 40px;
  font-size: 17px;
}

.linkProfileActive,
.orderActive {
  cursor: pointer;
  margin-top: 20px;
  margin-left: 40px;
  height: 40px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  color: black;
  border-bottom: 5px solid #5f2eea;
}

.linkProfile:active,
.linkProfile:focus,
.linkProfile:hover,
.linkProfile:active {
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  color: black;
  border-bottom: 5px solid #5f2eea;
}

.infoCard:active,
.infoCard:focus,
.infoCard:hover {
  font-weight: 600;
  text-decoration: none;
  border-radius: 4px;
  color: black;
  border-bottom: 5px solid #5f2eea;
}

.buttonSubmit {
  height: 45px;
  width: 40%;
  border-radius: 3px;
  font-size: 16px;
  font-weight: lighter;
  background-color: #5f2eea;
  color: white;
  border: 2px solid #5f2eea;
}

.buttonSubmit:hover,
.buttonSubmit:active,
.buttonSubmit:focus {
  outline: none !important;
  box-shadow: none !important;
}

.createUpdateToast {
  width: 100%;
  margin-right: 17%;
  position: absolute;
  background-color: #5f2eea;
  color: white;
  font-size: 16px;
  border: 2px solid #5f2eea;
}

.dropdownSort {
  margin-right: 40px;
}
.titleSort {
  font-size: 20px;
  font-weight: 900;
  color: #5f2eea;
  background-color: white;
}

.listSort {
  border-radius: 3px;
  font-weight: lighter;
  color: #4e4b66;
}
.titleSort:hover,
.titleSort:active,
.titleSort:focus,
.listSort:hover,
.listSort:focus {
  outline: none !important;
  box-shadow: none !important;
  background-color: #5f2eea;
  color: white;
}

.titleSort::after {
  display: none;
}

.menuDropdown {
  border: 3px solid #dedede;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.orderHistory {
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 2em;
  height: 25.8em;
  overflow-y: scroll;
  margin-bottom: 3em;
}

.orderHistory::-webkit-scrollbar-track {
  border: 1px solid white;
  padding: 2px 0;
  background-color: white;
  bottom: 0;
  border-radius: 5px;
}

.orderHistory::-webkit-scrollbar {
  width: 10px;
}

.orderHistory::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px #5f2eea;
  background-color: #5f2eea;
  border: 1px solid white;
}

.boxOrder {
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 8px;
  border: 2px solid #dedede;
}

.boxOrder:hover {
  border: 2px solid #5f2eea;
}

.boxInfo h6 {
  font-weight: 600;
}

.buttonTicket {
  height: 45px;
  background-color: #5f2eea;
  color: white !important;
}

.boxInfo {
  justify-content: space-between;
  display: flex;
}

.logo {
  width: auto;
  height: 20px;
  object-fit: cover;
}

.boxShowDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxShowDetails h6 {
  font-size: 14px;
  font-weight: 600;
}

.boxDetails {
  justify-content: space-between;
  display: flex;
}
.detail,
.detailClose {
  justify-content: space-between;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.detail h5 {
  font-size: 16px;
  color: #414141;
  font-weight: 600;
  margin-right: 10px;
}

.detailClose h5 {
  font-size: 16px;
  color: #5f2eea;
  font-weight: 600;
  margin-right: 10px;
}
/* =====================Responsive */
@media (max-width: 991.98px) {
  .rowHeaderInfoCard {
    margin-left: auto;
  }
  .containerCard {
    margin-left: 20px;
  }

  .form {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .containerForm {
    padding-right: 13px;
  }

  .imageProfile {
    margin-left: 27%;
  }
}
