.cardImage {
  width: max-content;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-top: 20px;
}

.cardBody {
  align-items: center;
  width: max-content;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.text {
  color: #a0a3bd;
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
}
